%body

  %ul.nav.nav-pills.pull-left
    %li
      %a{href: "/resources"}
        %span.glyphicon.glyphicon-arrow-left.black
    %li
      =link_to 'All', providers_path, :class => 'black'
    %li
      =link_to 'Legal', providers_path(:filter => 'legal'), :class => 'black'
    %li
      =link_to 'Development & Design Shops', providers_path(:filter => 'design'), :class => 'black'
    %li
      =link_to 'Marketing', providers_path(:filter => 'marketing'), :class => 'black'
    %li
      =link_to 'Finance & Accounting', providers_path(:filter => 'accounting'), :class => 'black'

=render :partial => 'shared/resource'