%body
  %ul.nav.nav-pills.pull-left
    %li
      %a{href:'/resources'}
        .black All
    %li.active
      %a{href: "#"} 
        .black Campus
    %li
      %a{href: "/OffCampus"} 
        .black Off Campus

  .container
    .row
      .col-lg-12
        %h1.page-header
          Campus Resources
    .row
      .col-md-4.portfolio-item
        %a{href:"http://www.bencolorado.com/"}
          %img= link_to image_tag("blackstone.jpg",:class => "img-responsive", :style => "margin-bottom: 86px; margin-top:86px;"), "http://www.bencolorado.com/"
        %h3
          %a{href:"http://www.bencolorado.com/"}
            .black Blackstone Entrepreneurs Network
        %p BEN identifies, promotes, and supports Colorado’s Gazelles: established high-growth companies that are likely to become Colorado’s next great ‘tentpole’ firms; and also identifies, promotes, and supports prospective gazelle companies by providing them access to the networks and resources they need to scale up and become a Colorado gazelle.
      .col-md-4.portfolio-item
        %a{href: "http://cunvc.org/"}
          %img= link_to image_tag("nvc.png",:class => "img-responsive", :style => "height: 240px; width:360px;"), "http://cunvc.org"
        %h3
          %a{href: "http://cunvc.org/"}
            .black New Venture Challenge
        %p NVC is an interdisciplinary competition presented by entities across campus. The goal is to provide an experiential adventure in entrepreneurship for CU students and members of the Boulder community.
      .col-md-4.portfolio-item
        %a{href:"http://catalyzecu.com/"}
          %img= link_to image_tag("catalyze.png",:class => "img-responsive", :style => "height: 240px;"), "http://catalyzecu.com/"
        %h3
          %a{href:"http://catalyzecu.com/"}
            .black Catalyze
        %p Catalyze CU is an 8 week startup accelerator designed for CU Students and Faculty. Catalyze CU combines world class mentorship and equity free grants with the University’s most promising ideas and technologies.
    .row
      .col-md-4.portfolio-item
        %a{href:"http://sparkboulder.com/"}
          %img= link_to image_tag("Spark.png",:class => "img-responsive", :style => "height: 240px; width:360px;"), "http://sparkboulder.com/"
        %h3
          %a{href:"http://sparkboulder.com/"}
            .black Spark Boulder
        %p Spark Boulder is a student designed and created coworking meets incubator space, designed to foster creativity, progress talent, and accelerate innovative ideas.  Spark Boulder is a student entrepreneurs playground that will allow Boulder and the University of Colorado to remain at the forefront of student innovation and entrepreneurship.
      .col-md-4.col-md-4.portfolio-item
        %a{href: "startups2students"}
          %img=link_to(image_tag("interns2startups.png", :class => "img-responsive", :style => "margin-top: 61px; margin-bottom: 61px"), "http://www.interns2startups.com/startup-signup")
        %h3
          %a{href: "#project-three"}
            .black Interns2Startups
        %p Students:  Get a job at a local startup!
        %p Startups:  Find local talent for your companies!
      .col-md-4.col-md-4.portfolio-item
        %a{href: "student_groups"}
          %img=link_to(image_tag("student_groups.jpg", :class => "img-responsive", :style => "height: 240px"), student_groups_path)
        %h3
          %a{href: "student_groups"} 
            .black Student Groups
        %p From the law school to the computer science department, students are engaged with entrepreneurship. Check out the different student groups to find out how you can get engaged and tap into the student body at CU-Boulder.
    .row
      .col-md-4.col-md-4.portfolio-item
        %a{href: "departments"}
          %img=link_to(image_tag("departments.jpg", :class => "img-responsive", :style => "height: 240px; width:360px;"), departments_path)
        %h3
          %a{href: "departments"}
            .black Departments and Groups
        %p Find out how to get connected to the different entrepreneurial departments and campus groups. 
      .col-lg-4.col-md-4.portfolio-item
        %a{href: "courses"}
          %img=link_to(image_tag( "CUclass.jpg", :class => "img-responsive"),courses_path)
        %h3
          %a{href: "courses"} 
            .black Courses
        %p Courses offered at the University of Colorado at Boulder relating to entrepreneurship.


    %hr/
