%body
  %ul.nav.nav-pills.pull-left
    %li
      %a{href:'/resources'}
        .black All
    %li.active
      %a{href: "#"} 
        .black Campus
    %li
      %a{href: "/OffCampus"} 
        .black Off Campus

  .container
    .row
      .col-lg-12
        %h1.page-header
          Campus Resources
    .row
      .col-lg-4.col-md-4.portfolio-item
        %a{href: "courses"}
          %img=link_to(image_tag( "CUclass.jpg", :class => "img-responsive"),courses_path)
        %h3
          %a{href: "courses"} 
            .black Courses
        %p.inset Courses offered at the University of Colorado at Boulder relating to entrepreneurship.
      .col-md-4.col-md-4.portfolio-item
        %a{href: "student_groups"}
          %img=link_to(image_tag("student_groups.jpg", :class => "img-responsive", :style => "height: 240px"), student_groups_path)
        %h3
          %a{href: "student_groups"} 
            .black Student Groups
        %p.inset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.col-md-4.portfolio-item
        %a{href: "#"}
          %img=link_to(image_tag("nvc.png", :class => "img-responsive", :style => "height: 240px; width:360px;"), student_groups_path)
        %h3
          %a{href: "#project-three"}
            .black Departments and Groups
        %p.inset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .row
      .col-md-4.col-md-4.portfolio-item
        %a{href: "#"}
          %img=link_to(image_tag("startups2students.png", :class => "img-responsive", :style => "height: 240px; width:360px;"), '#')
        %h3
          %a{href: "#project-three"}
            .black Startups2Students
        %p.inset Lorem ipsum dolor sit amet, consectetur adipis

    %hr/
