.row
  %h1.pull-left Contact Us
%h3 University of Colorado Entrepreneurship
%p Address:
%address
University of Colorado Law School
%br
105R Wolf Law Building
%br
401 UCB
%br
Boulder, CO  80309-0401
%br
Phone: (303) 492-0610

%address
  =mail_to "brad.bernthal@colorado.edu"

