.row
  %h1.pull-left Contact Us
%h3 University of Colorado Entrepreneurship
%p Address:
%address
  123 fake street
  %br
  Boulder, CO 80302
  %br
  303-333-3333
%address
  =mail_to "friend@example.com"

