

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators pull-right">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
          <%= image_tag "flatirons.jpg" %>
      <div class="carousel-caption">
        <h3> Flatirons 1 </h3>
        <p>this is picture 1!<p>
      </div>
    </div>
    <div class="item">
         <%= image_tag "flatirons.jpg" %>
      <div class="carousel-caption">
        <h3> Flatirons 2 </h3>
        <p>this is picture 2!<p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
