%h3{:style =>"color:#999999; text-align:center;"}A guide to all things entrepreneurial in Boulder.
#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active.constant
      =render 'shared/s2s'
    .item.constant
      %img= link_to image_tag("space.jpg"), "/spaces/pivotdesk"
      .carousel-caption
        %h1 Get Space Now.
    .item.constant
      %img= link_to image_tag("Rideorama.jpg"), "/events"
      .carousel-caption{:stlyle => "color:black; font-size:100px;"}
        %h1 See Local Events.
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right

.text
  %h1{:style => "color:black;"} About
  %h2 University of Colorado at Boulder Entrepreneurship
  %p The Boulder Startups site is a guide to all things entrepreneurial in Boulder, both on and off campus. This website was created by CUBE — CU-Boulder Entrepreneurship — which is a group made up of directors and leaders of the entrepreneurial centers across the CU-Boulder campus. The group’s goal is to collaborate and partner to enhance and elevate the entrepreneurial experience at CU-Boulder and beyond. 

  %p Whether you are new to Boulder, new to entrepreneurship, or are just looking to familiarize yourself with the entrepreneurial resources of Boulder, this site is a jumping off spot. Find a job or a new intern or employ under the Startups2Students tab. If you are a startup looking for a lawyer, a marketing firm, or a development shop, check out the off campus resources section. Find out what is happening on campus under our blogs section or visit the events section for a definitive listing of entrepreneurial events in Boulder/Denver. 