
%ul.nav.nav-pills.pull-left
  %li
    %a{href:'/resources'}
      .black All
  %li
    %a{href: "/campus"} 
      .black Campus
  %li.active
    %a{href: "#"} 
      .black Off Campus

.container
  .col-lg-12
    %h1.page-header
      Resources
      %small Off Campus
  .row
    .col-md-4.col-md-4.portfolio-item
      %a{href: "spaces"}
        %img=link_to(image_tag( "space.jpg", :class => "img-responsive"),spaces_path)
      %h3.black 
        %a{href: "spaces"} 
          .black Spaces
      %p.inset A list of available spaces that entrepreneurs can use!
    .col-md-4.col-md-4.portfolio-item
      %a{href: "spaces"}
        %img=link_to(image_tag( "space.jpg", :class => "img-responsive"),spaces_path)
      %h3.black
        %a{href: "spaces"} 
          .black X
      %p.inset A list of available spaces that entrepreneurs can use!
    .col-md-4.col-md-4.portfolio-item
      %a{href: "spaces"}
        %img=link_to(image_tag( "space.jpg", :class => "img-responsive"),spaces_path)
      %h3.black
        %a{href: "spaces"} 
          .black Y
      %p.inset A list of available spaces that entrepreneurs can use!
:javascript
  $.backstretch("#{asset_path 'flatirons.jpg'}");