%ul.nav.nav-pills.pull-left
  %li.active
    %a{href:'#'}
      .black All
  %li
    %a{href: "/campus"} 
      .black Campus
  %li
    %a{href: "/OffCampus"} 
      .black Off Campus
.container
  .col-lg-12
    %h1.page-header
      All Resources
  .row
    .col-md-4.col-md-4.portfolio-item
      %a{href: "spaces"}
        %img=link_to(image_tag( "space.jpg", :class => "img-responsive"),spaces_path)
      %h3.black 
        %a{href: "spaces"} 
          .black Spaces & Accelerators
      %p A list of available spaces that entrepreneurs can use!
    .col-md-4.col-md-4.portfolio-item
      %a{href: "providers"}
        %img=link_to(image_tag( "providers.jpg", :class => "img-responsive"),providers_path)
      %h3.black
        %a{href: "providers"} 
          .black Service Providers
      %p Lorem ipsum dolor sit amet, consectetur adipis
    .col-md-4.col-md-4.portfolio-item
      %a{href: "funding"}
        %img=link_to(image_tag( "funding.jpg", :class => "img-responsive"),funding_path)
      %h3.black
        %a{href: "funding"} 
          .black Funding
      %p Lorem ipsum dolor sit amet, consectetur adipis
    .row
      .col-lg-4.col-md-4.portfolio-item
        %a{href: "courses"}
          %img=link_to(image_tag( "CUclass.jpg", :class => "img-responsive"),courses_path)
        %h3
          %a{href: "courses"} 
            .black Courses
        %p Courses offered at the University of Colorado at Boulder relating to entrepreneurship.
      .col-md-4.col-md-4.portfolio-item
        %a{href: "student_groups"}
          %img=link_to(image_tag("student_groups.jpg", :class => "img-responsive", :style => "height: 240px"), student_groups_path)
        %h3
          %a{href: "student_groups"} 
            .black Student Groups
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.col-md-4.portfolio-item
        %a{href: "#"}
          %img=link_to(image_tag("nvc.png", :class => "img-responsive", :style => "height: 240px; width:360px;"), student_groups_path)
        %h3
          %a{href: "#project-three"}
            .black Departments and Groups
        %p Lorem ipsum dolor sit amet, consectetur adipis
    .row
      .col-md-4.col-md-4.portfolio-item
        %a{href: "positions"}
          %img=link_to(image_tag("startups2students.png", :class => "img-responsive", :style => "height: 240px; width:360px;"), positions_path)
        %h3
          %a{href: "positions"}
            .black Startups2Students
        %p Lorem ipsum dolor sit amet, consectetur adipis
      .col-md-4.col-md-4.portfolio-item
        %a{href: "entity"}
          %img=link_to(image_tag("entity.jpg", :class => "img-responsive", :style => "height: 240px; width:360px;"), entity_path)
        %h3
          %a{href: "entity"}
            .black Business Development Entities
        %p Lorem ipsum dolor sit amet, consectetur adipis
