.container
  .col-md-9
    -if !current_user.nil? && current_user.admin == true
      =link_to "Add Post", new_user_blog_path(current_user.id)
    -if @posts.empty?
      %h3 There aren't any blog posts yet!
    -@posts.each do |post|
      .row
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              =post.title
              %br
              =post.created_at.strftime("%F")
            %br
            .panel-body=post.content
  .col-md-3
    %a.twitter-timeline.col-md-6{"data-widget-id" => "446003144237916160", :href => "https://twitter.com/wellsauce/boulderstartups"}

=javascript_include_tag "twitter"
  