.container
  .col-md-9
    -if !current_user.nil? && current_user.admin == true
      =link_to "Add Post", new_user_blog_path(current_user.id)
    -if @posts.empty?
      %h3 There aren't any blog posts yet!
    -@posts.each do |post|
      .row
        -if !current_user.nil? && current_user.admin == true
          =link_to "Delete Post", user_blog_path(current_user.id, post.id), method: :delete
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              =post.title
              %br
              =post.created_at.strftime("%F")
            %br
            .panel-body=post.content
  .col-md-3
    %a.twitter-timeline{"data-widget-id" => "508777538861027328", :href => "https://twitter.com/BoulderStart/lists/blogfeed"} 
=javascript_include_tag "twitter"
  