.row
  .col-md-4
    %h3 Skills
    -@skills.each do |skill|
      %li.list-unstyled=skill
  .col-md-4
    %h3 Interests
    -@interests.each do |interest|
      %li.list-unstyled=interest
  .col-md-4
    %h3 Categories
    -@categories.each do |category|
      %li.list-unstyled=category