-if !current_user.nil?
  %h2=link_to "My Profile", user_path(current_user.id)
-else
  %h2=link_to "Sign In", user_session_path
%h3 Position Title
-@positions[0].each do |position|
  %li=position.title