-if params[:orgtype] or session[:orgtype] == 'companies'
  = render "companies"
  -session[:orgtype] = "companies"
- elsif params[:orgtype] or session[:orgtype] == 'candidates'
  = render "candidates"
  -session[:orgtype] = "candidates"

