-if params[:orgtype] == "companies" or session[:orgtype] == "companies"
  = render "companies"

- elsif params[:orgtype] == "candidates" or session[:orgtype] == "candidates"
  = render "candidates"



