%body

  %ul.nav.nav-pills
    %li
      %a{href: "/resources"}
        %span.glyphicon.glyphicon-arrow-left.black
    %li
      =link_to 'All', spaces_path, :class => 'black'
    %li
      =link_to 'Accelerators', spaces_path(:filter => 'accelerator'), :class => 'black'
    %li
      =link_to 'Co-Working Spaces', spaces_path(:filter => 'space'), :class => 'black'
    %li
      =link_to 'Spaces Available Now', 'spaces/pivotdesk', :class => 'black'




.container-fluid
  .row-fluid
    .col-lg-12
      %h1.page-header
        Spaces
  -@space.each do |f|
    .col-md-6.portfolio-item
      %h3
        .black=f.name
      %img.img-responsive{src: f.photo }
      %h4
        .black=f.description

  / /.container
:javascript
  $.backstretch("#{asset_path 'flatirons.jpg'}");