%body

  %ul.nav.pull-left
    %li
  %a{href: "/campus"}
    %span.glyphicon.glyphicon-arrow-left
    Back

.container-fluid
  .row-fluid
    .col-lg-12
      %h1.page-header
        Spaces
  -@spaces.each do |f|
    .col-md-6.portfolio-item
      %h3
        =f[0]
      %img.img-responsive{src: f[1] }
      %p=f[2]
%h1
  Powered by
  =link_to image_tag("https://d22eps1db7swyg.cloudfront.net/assets/logo-5beae2941b96ca39fdfe3c9ae48aa277.png"), 'https://www.pivotdesk.com/'
  / /.container