%ul.nav.nav-pills.pull-left
  %li
    =link_to 'All', users_path
  %li
    =link_to 'Technical', users_path(:filter => 'Technical')
  %li
    =link_to 'Non-Technical', users_path(:filter => 'Non-Technical')
.container-fluid
  .row-fluid
    .col-lg-12
      %h1.page-header Students
  -@candidates.each do |f|
    .media.position-pane
      .media-body
        %h3=f.name
      ="Discipline: #{f.discipline}"
      %br
      =link_to "Resume", f.avatar.url(:original, false)
      %br
      =link_to "Personal Website", f.website
      %br
      =link_to "LinkedIn Profile", f.linkedin
      %br
      %a=mail_to(f.email)



