%ul.nav.nav-pills.pull-left
  %li
    =link_to 'All', users_path
  %li
    =link_to 'Technical', users_path(:filter => 'Technical')
  %li
    =link_to 'Non-Technical', users_path(:filter => 'Non-Technical')
.container-fluid
  .row
    .col-lg-12
      %h1.page-header Students
      -@candidates.each do |candidate|
        .media.position-pane
          .media-body
            .row
              .col-md-8
                %h3
                  = candidate.name
              .col-md-4.resume
                %span.glyphicon.glyphicon-list-alt
                =link_to "Resume", candidate.avatar.url(:original, false), :target => "_blank"  
            .row
              .col-md-2
                %h5
                  =candidate.discipline
              - if candidate.website.present?              
                .col-md-2.white-box
                  %span.glyphicon.glyphicon-globe
                  =link_to "Personal Website", candidate.website, :target => "_blank" 
              - else
                .col-md-2.gray-box
                %span.glyphicon.glyphicon-globe
                  Personal Website
              - if candidate.linkedin.present?    
                .col-md-2.col-md-offset-1.white-box
                  %span.glyphicon.glyphicon-user
                  =link_to "LinkedIn", candidate.linkedin, :target => "_blank" 
              - else
                .col-md-2.col-md-offset-1.gray-box
                  %span.glyphicon.glyphicon-user
                  LinkedIn
              .col-md-4.col-md-offset-1.white-box
                %span.glyphicon.glyphicon-envelope
                %a=mail_to(candidate.email)



