%body
  %ul.nav.pull-left
    %li
  %a{href: "/events"}
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
%iframe{frameborder: "0", height: "600", scrolling: "no", src: "https://www.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23FFFFFF&src=29kqsoi4m7vuv8dt1i8c73qtfkrd69hm%40import.calendar.google.com&color=%23B1440E&src=mne8qs3476i08o4v9l00urrfqs%40group.calendar.google.com&color=%232952A3&src=e254hmc3995a6m45a09sj5oaj1danqjn%40import.calendar.google.com&color=%23875509&ctz=America%2FDenver", style: " border-width:0 ", width: "800"}