%body
  %ul.nav.pull-left
    %li
  %a{href: "/events"}
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
%iframe{frameborder: "0", height: "600", scrolling: "no", src: "http://www.google.com/calendar/embed?src=lr8d7nkd2ev3u3ocu0ve0jtkkc%40group.calendar.google.com&ctz=America/Denver", style: "border: 0", width: "800"}