%body
%h1.center.page-header Upcoming Events
%ul.nav.nav-pills.navbar.pull-left
  %li
    %a{href: "/calendar"} 
      %h3.glyphicon.glyphicon-calendar.black 
      .black Full Calendar
  %li
    %a{href: "https://www.google.com/calendar/render?cid=29kqsoi4m7vuv8dt1i8c73qtfkrd69hm%40import.calendar.google.com&cid=mne8qs3476i08o4v9l00urrfqs%40group.calendar.google.com&cid=e254hmc3995a6m45a09sj5oaj1danqjn%40import.calendar.google.com"} 
      %h3.glyphicon.glyphicon-check.black 
      .black Subscribe

.container-fluid
  .row-fluid
    .col-lg-12
    -@events.each do |f|
      -@count = @count+1
      .col-md-6.portfolio-item
        #accordion.panel-group
        .panel.panel-default
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{@count}"}
              %h3=f[0]
              %p=f[2].strftime("%A, %b %d %Y at %I:%M %p")
        .panel-collapse.collapse{:id => "collapse#{@count}"}
          .panel-body
            %label Start Time:
            %p=f[2].strftime("%A, %b %d %Y at %I:%M %p")
            %label End Time:
            %p=f[3]
            %label Location:
            %p=f[4]
            %label Description:
            %p=strip_tags(f[1])
