%body
%h1.center.page-header Upcoming Events
%ul.nav.nav-pills.navbar.pull-left
  %li
    %a{href: "/embeddedCal"} 
      %h3.glyphicon.glyphicon-calendar.black 
      .black Full Calendar
  %li
    %a{href: "http://www.google.com/calendar/render?cid=http%3A%2F%2Fwww.boulderstartups.org%2F%3Fplugin%3Dall-in-one-event-calendar%26controller%3Dai1ec_exporter_controller%26action%3Dexport_events%26cb%3D1146257465"} 
      %h3.glyphicon.glyphicon-check.black 
      .black Subscribe

.container-fluid
  .row-fluid
    .col-lg-12
    -@events.each do |f|
      -@count = @count+1
      .col-md-6.portfolio-item
        #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{@count}"}
                %h3=f[0]
                %p=f[2]
          .panel-collapse.collapse{:id => "collapse#{@count}"}
            .panel-body
              %label Start Time:
              %p=f[2]
              %label End Time:
              %p=f[3]
              %label Location:
              %p=f[4]
              %label Description:
              %small=f[1]
:javascript
  $.backstretch("#{asset_path 'flatirons.jpg'}");