!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title RailsCasts Weekly
    :css
      .position-pane{background-color:#333333;padding:10px; border-radius: 10px; color: white;}
      .position-pane a{color: rgb(202, 202, 202);}
      .position-pane.row{ margin-left: 0px;margin-right: 0px;}
      .position-pane.white-box{display: inline-block;min-width: 100px;*display: inline;padding: 4px 12px;margin-bottom: 0;*margin-left: .3em;line-height: 20px;text-align;center;vertical-align: middle;cursor: pointer;border: 1px solid #cccccc;*border: 0;}
      .position-pane.white-box:hover{background-color: white;color: black;a {color: black;}
      .gray-box{display: inline-block;min-width: 100px;*display: inline;padding: 4px 12px;margin-bottom: 0;*margin-left: .3em;line-height: 20px;text-align: center;vertical-align: middle;border: 1px solid gray;color: gray;*border: 0;}
      .resume{text-align: right;vertical-align: middle;cursor: pointer;font-size: 18px;padding-top: 15px;
      .resume:hover a{color:black;}
      .resume:hover{color:black;}
%h1.page-header Candidates
-@candidates.each do |candidate|
  .media.position-pane
    .media-body
      .row
        .col-md-4
          %h3
            = candidate.name
        .col-md-2.col-md-offset-6.resume
          %span.glyphicon.glyphicon-list-alt
          =link_to "Resume", candidate.avatar.url(:original, false), :target => "_blank"  
      .row
        %h5
          =candidate.discipline
        - if candidate.website.present?              
          .white-box
            =link_to "Website", candidate.website, :target => "_blank" 
        - if candidate.linkedin.present?    
          .white-box
            =link_to "LinkedIn", candidate.linkedin, :target => "_blank" 
        - if candidate.github.present?    
          .white-box
            %i.fa.fa-linkedin
            =link_to "GitHub", candidate.linkedin, :target => "_blank" 
        - if candidate.twitter.present?    
          .col-md-1.white-box
            // need twitter here                
        .col-md-4.col-md-offset-1.white-box
          %a=mail_to(candidate.email)