%ul.nav.nav-pills.pull-left
  %li
    =link_to 'All'
  %li
    =link_to 'Engineering Courses', courses_path(:filter => 'Engineering')
  %li
    =link_to 'Music Courses', courses_path(:filter => 'Music')
  %li
    =link_to 'Business Courses', courses_path(:filter => 'Business')
  %li
    =link_to 'Entrepreneurship Certificate Courses', courses_path(:filter => 'Entrepreneurship')
  %li
    =link_to 'Law Courses', courses_path(:filter => 'Law')

.container-fluid
  .row-fluid
    .col-lg-12
      %h1.page-header
        Courses
        %small=@current_course
  -@courses.each do |f|
    -@count = @count+1
    .col-md-6.portfolio-item
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h2.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{@count}"}
                %h3=f.name
                %p=f.code
          .panel-collapse.collapse{:id => "collapse#{@count}"}
            .panel-body
              %label Description
              %p=f.description










  