@import "bootstrap";

$lightgrey: #999;
$global-border-radius: 5px;
$global-border-radius-sharp: 2px;

// /* universal */
%img {
  width:10px;
}
.text{
  padding: 5% 20% 20% 20%;
  display: block;
}
.panel-heading{
  font-weight: bold;
}

html {
	overflow-y:scroll;
}

body {
	padding-top:50px;
  background-color:#FFFFF0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 10px;
	}
}

// /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.website a{
  color: black;
  &:hover{
    color:$lightgrey;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightgrey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// /* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: 300;
  line-height: 1;
	&:hover {
	  color: $lightgrey;
	  text-decoration: none;
	}
}

header li {
  font-family: serif;
  font-size: 1.3em;
  color: white;
  &:hover {
    color: $lightgrey;
    text-decoration: none;
  }
}

// /* footer */


footer {
  margin-top: 45px;
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightgrey;
  position: absolute;
  }


	a {
	  color: #555;
		&:hover {
		  color: #222;
      text-decoration: none;
		}
	}

	small {
	  float: left;
	}

	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 10px;
		}
	}	


body {
margin-top: 10px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
margin-bottom: 25px;
}

footer {
margin: 50px 0;
}

.text-justify {
  text-align: justify;
}
.panel-title{
  text-decoration: none;
}

.container .banner{
  width:1200px;
}

.constant img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
  height: auto;
  max-height: 530px;
}

.custom{
  display: inline-block;
  vertical-align: top;
}


.black{
  color: #181818;
  font-size: 20px
}

 a .item img{
  width:300px;
  display:inline-block;
}

.panel.panel-default{
  opacity: .75;
}
.navbar-fixed-top{
  opacity: .9;
}


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 30px;

  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: $global-border-radius;
     -moz-border-radius: $global-border-radius;
          border-radius: $global-border-radius;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div input {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  min-width: 200px;
}

label.checkbox{
  font-size: 14px;
  cursor: pointer;
}

#error_explanation{
  & h2{
    font-size: 18px;
  }
  & ul{
    list-style: none;
    padding: 0;
    color: #C23200;
  }
}


.position-pane{
  background-color: rgb(214, 214, 214);
  padding: 10px;
  border-radius: 10px;
}


