@import "bootstrap";
@import "font-awesome";

$lightgrey: #999;
$global-border-radius: 5px;
$global-border-radius-sharp: 2px;

// /* universal */
%img {
  width:10px;
}
.text{
  padding: 5% 20% 20% 20%;
  display: block;
}
.panel-heading{
  font-weight: bold;
}

html {
	overflow-y:scroll;
}

body {
	padding-top:50px;
  background-color:#FFFFF0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 10px;
	}
}

// /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.website a{
  color: black;
  &:hover{
    color:$lightgrey;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightgrey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// /* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: 300;
  line-height: 1;
	&:hover {
	  color: $lightgrey;
	  text-decoration: none;
	}
}

header li {
  font-family: sans-serif;
  font-size: 1.0em;
  color: white;
  text-transform: uppercase;

  &:hover {
    color: $lightgrey;
    text-decoration: none;
  }
}

// /* footer */


footer {
  margin-top: 45px;
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightgrey;
  position: absolute;
  }


	a {
	  color: #555;
		&:hover {
		  color: #222;
      text-decoration: none;
		}
	}

	small {
	  float: left;
	}

	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 10px;
		}
	}	


body {
margin-top: 10px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
margin-bottom: 25px;
}

footer {
margin: 50px 0;
}

.text-justify {
  text-align: justify;
}
.panel-title{
  text-decoration: none;
  color:black;
}


.constant img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
  height: auto;
  max-height: 530px;
}

.custom{
  display: inline-block;
  vertical-align: top;
}


.black{
  color: #181818;
  font-size: 20px
}
.darken {
  color: black;
}

 a .item img{
  width:300px;
  display:inline-block;
}

.panel.panel-default{
  opacity: .75;
  color:$lightgrey;
}
.navbar-fixed-top{
  opacity: .9;
}


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 30px;

  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: $global-border-radius;
     -moz-border-radius: $global-border-radius;
          border-radius: $global-border-radius;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div input {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  min-width: 200px;
}

label.checkbox{
  font-size: 14px;
  cursor: pointer;
}

#error_explanation{
  & h2{
    font-size: 18px;
  }
  & ul{
    list-style: none;
    padding: 0;
    color: #C23200;
  }
}



/*startups2students users page */

.position-pane{
  background-color: #333333;
  padding: 10px;
  border-radius: 10px;
  color: white;
  a {
    color: rgb(202, 202, 202);
  }
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .white-box{
    display: inline-block;
    min-width: 100px;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    *border: 0;
    &:hover{
      background-color: white;
      color: black;
      a {color: black;}
    }
  }

  .gray-box{
    display: inline-block;
    min-width: 100px;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    color: gray;
    *border: 0;
  }



  .resume{
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;
    padding-top: 15px;
    &:hover a{
      color:black;
    }
    &:hover{
      color:black;
    }
  }
}






/*startups2students home page */
/* Main
--------------------------------------------- */

#main {
    background-color: #333333;
    color: #f8f8f8;
}

#main.web {
    height: 502px;
    position: relative;
}

#main h1 {
    font-weight: 100;
    font-size: 54px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
    float: center;
    opacity: 1;
}

.wf-active #main h1 {
    margin: 0;
    opacity: 1;
}

#main.web .callout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -70px;
}

#main .primaryButton {
color: #f8f8f8;
font-size: 16px;
opacity: 1;
margin-left: 25px;
margin-right: 25px;
}

.wf-active #main .primaryButton {
    opacity: 1;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


#howitworks {
    padding: 100px 0 50px 0;
    margin: 0 auto;
}

#howitworks img {
    padding-bottom: 30px;
}

.smallType {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.primaryButton {
    padding: 14px 30px;
    display: inline-block;
    margin: 26px 0 0 0;
}

.primaryButton:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.borderButton {
    border: 1px solid rgba(244,244,244,.9);
}

.borderButton:hover {
    background-color: rgba(0,0,0,.1);
     transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.sectionTitle {
    font-style: normal;
    color: #333;
    font-weight: 300;
    font-size: 54px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: center;
    opacity: 1;
}

.explanatory {
  max-width: 660px;
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
  font: sans-serif;
  text-align:center;
}


#constituents {
    padding: 0 0 100px 0;
    max-width: 600px;
}

#constituents > div {
    float: left;
    width: 300px;
    padding: 0 30px;
}

#constituents img {
    padding: 0 0 14px 0;
}

#constituents .type {
    color: #635f7d;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

#constituents .plug {
    color: #555;
    font-weight: 400;
    line-height: 22px;
}

.column {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-block {
  padding: 0 0 15px 0;
  color: #333;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.sectionTitle {
  font-style: normal;
  color: #333;
  font-weight: 300;
  font-size: 54px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: center;
  opacity: 1;
}

.contentlabel {
display: block;
padding: 10px 0;
font-weight: bold;
text-transform: uppercase;
}
