%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Boulder Startups", root_path, id: "logo"
      %ul.nav.navbar-nav.navbar-right
        %li=link_to "Blogs", blog_path
        %li= link_to "Events", events_path
        %li= link_to "Resources", resources_path
