%header.navbar.navbar-fixed-top.navbar-default
  .navbar-inner
    .container
      = link_to "Boulder Startups", root_path, id: "logo"
      %ul.nav.navbar-nav.navbar-right
        %li=link_to "Blogs", '#', :class => 'black'
        %li= link_to "Events", events_path, :class => 'black'
        %li= link_to "Resources", campus_path, :class => 'black'