<header class ="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Boulder Startups", root_path, id: "logo" %>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"> Blogs</a> </li>
        <li><%= link_to "Events", events_path%> </li>
        <li><%= link_to "Resources", campus_path%></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>

</header>


